@model MovieStoreMvc.Models.Showtimes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Showtimes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketSold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.room.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.format)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.format.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
